*-debug.log
*-error.log
.nyc_output
/packages/*/dist
/plugins/*/dist
/packages/*/lib
/plugins/*/lib
tmp
/yarn.lock
node_modules
.DS_Store
oclif.manifest.json
/package-lock.json
tsconfig.tsbuildinfo
test_data*
*.env

coverage
temp/
*.tgz

# pnpm release:try sandbox
/.release-try/
