{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "indent": "off",
    "object-curly-spacing": "off",
    "padded-blocks": "off",
    "unicorn/filename-case": "off",
    "no-multiple-empty-lines": "off",
    "max-params": "off"
  }
}
