{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "indent": "off",
    "object-curly-spacing": "off",
    "padded-blocks": "off",
    "unicorn/filename-case": "off",
    "no-multiple-empty-lines": "off",
    "array-bracket-spacing": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-multi-assign": "off"
  }
}
